<p class="logo">
    <a href="{{ pathto(master_doc) }}">
        <img class="logo" src="{{ pathto('_static/logo.png', 1) }}" alt="Logo" style="margin-left: -10px; margin-bottom: 20px"/>
    </a>
</p>
